<div [class]="'w3-top'">
  <div class="w3-bar w3-black w3-card centered-nav">
    <a class="w3-bar-item w3-button w3-padding-large"
       (click)="show('world')"
       [class.selected]="view() === 'world'">
      World of Cells
    </a>
    <a class="w3-bar-item w3-button w3-padding-large"
       (click)="show('explanation')"
       [class.selected]="view() === 'explanation'">
      Explanation
    </a>
  </div>
</div>

<app-world-of-cells [hidden]="view() !== 'world'"></app-world-of-cells>
@if (view() === 'explanation') {
  <app-explanation></app-explanation>
}
