<div [class]="'w3-top'">
  <div class="w3-bar w3-black w3-card centered-nav">
    <button class="w3-bar-item w3-button w3-padding-large"
            (click)="changeMenu(gameOfLife)"
            [class.selected]="selectedMenu === gameOfLife">
      Game of Life
    </button>
    <button class="w3-bar-item w3-button w3-padding-large"
            (click)="changeMenu(explanation)"
            [class.selected]="selectedMenu === explanation">
      Explanation
    </button>
  </div>
</div>
<app-game-of-life></app-game-of-life>
