<div class="explanation-container">
  <article class="explanation-content">
    World of Cells is a simulation running on an infinite grid of cells that can either be alive or dead. Every tick the simulation checks for every cell whether it needs to be dead or alive in the next iteration.
    This is the famous Conway's Game of Life.
    The rules are quite simple: <br>
    <ul>
      <li>If a cell is dead it needs exactly 3 live neighbours to become alive.</li>
      <li>If a cell is alive it needs either 2 or 3 alive neighbours to stay alive.</li>
    </ul>
    Since a completely dead simulation is quite boring, every 50 ticks the simulation spawns a structure of alive cells.
    Most of these structures are a variation of a 2 cell thick square in various sizes.
    Every tick makes the structure the structure a bit older. It's entropy increases.
    This creates the pretty structures you see in the simulation.
    All created from the simple two rules each cell lives and dies by.<br><br>

    Every cell you see comes from the server running the simulation.
    That means that all the things you see in this world is shared by all other people looking at these exact same coordinates, at this moment in time.
    Ain't that a beautiful thing?

  </article>
</div>
