<canvas
  #gridCanvas
  [style.border]="'1px solid #ccc'"
  [style.display]="'block'"
  [style.background-color]="'white'">
</canvas>
<div [class]="'w3-bottom'">
  <div class="w3-bar w3-black w3-card centered-nav">
    <button class="w3-bar-item w3-button w3-padding-large"
            (click)="nextChaosHit(false)">
      Previous
    </button>
    <button class="w3-bar-item w3-button w3-padding-large disabled">
      x: {{Math.floor(-cellOffsetY)}} y: {{Math.floor(-cellOffsetX)}}
    </button>
    @if (false) {
      <button class="w3-bar-item w3-button w3-padding-large"
              (click)="toggleBlockBorders()"
              [class.selected]="drawBorders">
        Show Block Borders
      </button>
    }
    <button class="w3-bar-item w3-button w3-padding-large"
            (click)="nextChaosHit(true)">
      Next
    </button>
  </div>
</div>
