/* You can add global styles to this file, and also import other style files */
.centered-nav {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.w3-button.selected {
  color: #000 !important;
  background-color: #ccc !important;
}
